
.App {
  text-align: center;
}


/******************** Spinner Loader Style ********************/
.loader {
  text-align: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 2;
  cursor: pointer;
} 


/******************** Putting space btn rows ********************/
.gutter .row {
		margin-top: -30px;
}

.gutter .row 	> [class*="col-"] {
  padding-top: 30px;
}


/******************** Product Styles ****************************/
.product-container {
  border: 1px dashed gray;
  border-radius: 15px;
  max-width: 350px;
}

.product-container:hover {
  border: 1px solid gray;
  transition: 0.5s;
} 

.product-container .img-container {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-container select {
  width: 150px;
  text-align: center;
}

.product-container .img-container img {  
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  object-position: center;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.add-to-cart-btn {
  background: rgba(0, 0, 0, 0.719);
  border-radius: 15px;
  text-align: center;
  border: none;
  width: 50%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;

} 

.add-to-cart-btn:hover {
  transition: 0.5s;
  background: white;
  border: 2px solid black;
  color: black;
}

.product-details {
  display: flex;
  align-items: center;
  height: 150px;
}

.product-details span {
  font-size: 12px;
}

.title-spacing {
  margin: 50px 0;
}

.sort-select {
  font-size: 12px;
}

.specific-product {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.specific-product .img-container img {
  height: 350px;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.specific-product .img-container {
  width: 45%;
}

.specific-product .product-details {
  width: 55%;
  height: 400px;
}

.specific-product span {
  font-size: 14px;
  margin-bottom: 10px;
  float: left;
}


@media only screen and (max-width: 767px) {  
  .specific-product {
    display: flex;
    flex-direction: column;
  }    
  .specific-product .img-container {
      width: 100%;
      border-right: none;
  }
}

/******************** Navbar design ***************************/
.main-nav {
  box-shadow: 0 2px 5px rgb(0 0 0 / 29%);
  position: sticky;
  top: 0;
}
.main-nav .logo {
  width: 120px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}
.main-nav .nav-link {
  font-weight: 700;
  color: black !important;
}

.cart-nav-icon-container a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.cart-nav-icon-container a span {
  position: absolute;
  top: -10px;
  right: -15px;
  background-color: gray;
  color: white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
}

.cart-nav-icon-container  a:hover span {
  background-color: black;
  color: white;
}

.search-container {
  position: relative;
  width: 350px;
  height: 32px;
  margin-right: 15px;
}

.frjscc {
  min-height: 32px !important;
  font-size: 14px;
}

.frjscc > input {
  padding-left: 15px;
}

@media only screen and (max-width: 767px) {      
  .search-container {
      width: 100%;
      margin-bottom: 15px;
    }
}


/************************* Pagination style *************************/ 
.pagination {
  display: flex;
  margin: 30px 0;
}

.pagination a {
  position: relative;
  display: block;
  padding: 5px 15px;
  margin-left: -2px;
  color: black;
  border: 2px solid gray;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
}

.pagination a:hover {
  transition: 0.5s;
  background-color: rgb(224, 224, 224);
}


/************************** Form Styles ********************/
.shipping-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 100px;
}

.form {
  width: 45%;
  border: 1px solid gray;
  padding: 50px;
  background-color: white;
  left: 0;
  right: 0;
}

.form label {
  width: 100%;
  text-align: left;
  font-weight: 600;
}

@media only screen and (max-width: 767px) { 
  .form {
    width: 100%;
    padding: 10px;
  }
}

/******************** Cart Style ************************/
.img-container .cart-img {  
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
  height: 100%;
}

/******************** Add To Cart and Checkout ********************/

.summary-price-box {
  border: 1px solid gray;
  padding: 50px;
  width: 400px;
  float: right;
}

.payment-container {
  border: 1px solid gray;
  padding: 50px;
  margin-top: 100px;
  width: 400px;
}

@media only screen and (max-width: 767px) { 
  .summary-price-box,  .payment-container {
    width: 100%;
  }
  .cart ul li {
    width: 100%;
  }
  .cart .cart-img {
    width: 100%;
    margin-bottom: 10px;
  }
}
